<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso necesario para conectarse con Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- No pedimos background; no se necesita para tu caso -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Proyecto Android"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoAndroid">

        <!-- Pantalla principal -->
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras pantallas -->
        <activity android:name=".view.InformacionActivity" />
        <activity android:name=".view.AgendarHoraActivity" />
        <activity android:name=".view.SolicitarHoraActivity" />
        <activity android:name=".view.MedicamentosActivity" />
        <activity android:name=".view.RegistrarPacienteActivity" />
        <activity android:name=".view.RegistrarAtencionActivity" />
        <activity android:name=".view.AgendarCitaActivity" />
    </application>
</manifest>
